@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

* {
    font-family: 'Montserrat';
    background-color: black;
}

img {
    margin: 40px;
}

.container {
    display: flex;
    position: relative;
}

.intro {
    margin-left: 40px;
    position: fixed;
    position: relative;
    color: white;
    flex-grow: 1;
}

.title {
    font-size: 60px;
    font-style: italic;
}

.comeon {
    font-size: 20px;
}

.work .pm{
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.work .front{
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.work .back{
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.work {
    width: 750px;
    display: flex;
    justify-content: space-between;
}

.login {
    /* background-color: white; */
    width: 400px;
    height: 400px;
    position: relative;
    left: 200px;
    top: 300px;
    flex-grow: 1;
    color: white;
}

.back {
    line-height: 200px;
}

.front {
    line-height: 200px;
}

h2 {
    position: relative;
    margin-left: 150px;
    color: white;
    font-style: italic;
    font-size: 30px;
}

.id {
    width: 300px;
    height: 40px;
    position: relative;
    left: 50px;
    background-color: white;
    border-radius: 20px;
    color: gray;
    font-weight: bolder;
    line-height: 40px;
    padding-left: 10px;
}

.pw {
    width: 300px;
    height: 40px;
    position: relative;
    left: 50px;
    background-color: white;
    border-radius: 20px;
    color: gray;
    font-weight: bolder;
    line-height: 40px;
    padding-left: 10px;
    top: 20px;
}

.commit {
    width: 200px;
    height: 40px;
    position: relative;
    left: 100px;
    background-color: orange;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
    line-height: 40px;
    padding-left: 10px;
    top: 40px;
    text-align: center;
}